@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/*paleta de colores*/
/*#0D0D0D*/
/*#734002*/
/*#A66D03*/
/*#F2CB05*/
/*alternativos*/
/*#011526*/
/*#012E40*/
/*#025959*/
/*#02735E*/

/*encabezado y menu navegable*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62, 5%;
}
a {
  text-decoration: none;
  color: goldenrod;
}
ul {
  display: flex;
  width: 100%;
  margin-top: 0%;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 4%;
  height: 100%;
}
li {
  display: flex;
  padding: 10px;
}
.text-gold:hover {
  color: white;
}
header {
  display: flex;
  position: fixed;
  top: 0;
  height: 25vh;
  width: 100%;
  z-index: 9999;
  background-color: rgba(13, 13, 13, 0.6);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  padding: 2.5rem 0;
  align-items: center;
}
.container-fluid {
  background-color: transparent !important;
}
.logo {
  width: 100px;
  height: 100px;
}
/*seccion y cuerpo*/
main {
  padding-top: 0px;
  position: relative;
  z-index: 1;
}
p {
  font-family: "Montserrat", sans-serif;
  color: #e3c75f;
}
.membresias {
  margin-top: 200px;
}
.clasica_flex {
  display: flex;
  align-items: center;
  margin: 10rem;
}
.titulos_membresias {
  font-size: 3rem;
  color: #cc8d1a;
  margin-right: 15rem;
}
.boton_membresia {
  width: 100px;
  height: 50px;
  border-radius: 15px;
  background-color: black;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.boton_membresia:hover {
  background-color: white;
  color: black;
}
h1 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  color: #cc8d1a;
  text-align: center;
  padding: 5rem;
}

.titulo_ {
  font-size: 3rem;
}

.card {
  border: #444 solid;
  margin-bottom: 5rem;
  min-height: 37rem;
}
.titulo-de-tarjeta {
  font-size: 1.25rem;
}
.card-body {
  background-color: goldenrod;
}
.card-text {
  color: black;
  border-radius: 12rem;
  margin: 0 1rem 0 1rem;
  text-align: center;
}
.boton-inscripcion {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  background-color: black;
  padding: 0.5rem;
  border-radius: 15px;
  width: 150px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.boton-inscripcion:hover {
  background-color: white;
  color: black;
}
.presentacion {
  display: flex;
  margin-top: 10vh;
}
.titulo_presentacion {
  display: flex;
  margin-left: 25vh;
}
.texto_presentacion {
  display: flex;
  padding: 5rem;
  margin-left: 20vh;
  text-align: left;
}
.container_box_principal_equipamiento {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  margin-bottom: 2rem;
}

.box_principal_equipamiento {
  position: relative;
  width: 45%;
  height: 300px;
  overflow: hidden;
  border-radius: 12px;
}

.box_principal_equipamiento img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.text_piso_equipamiento {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.text_piso_equipamiento h2 {
  margin: 0 0 10rem;
  font-size: 24px;
}

.text_piso_equipamiento button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #a66d03;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: black;
}

.text_piso_equipamiento button:hover {
  background-color: white;
}
.card_pases {
  margin: 200px 20px 50px 20px;
  overflow: hidden;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 0;
}
.precio_pases {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
  color: black;
}
.box_contacto {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}
.contacto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #cc8d1a;
  margin: 0 10rem 0rem 0rem;
}
.contacto ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.separador {
  width: 90%;
  height: 2px;
  background: #444;
  margin: 40px 0;
  border-radius: 10px;
}
.formulario {
  width: 100%;
  background: #f2cb05;
  padding: 30px;
  max-width: 500px;
  margin: 2rem auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.formulario label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 15px;
  color: black;
}
.formulario input,
.formulario textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.formulario button {
  width: 100%;
  padding: 14px;
  background-color: black;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.formulario button:hover {
  background-color: white;
  color: black;
}
body {
  background-color: black;
}
/*pie de pagina*/
footer {
  border-top: 2px solid #444;
  background-color: #1a1a1a;
}
.footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 1rem;
  padding: 1.5rem 1rem;
  align-items: flex-end;
}
footer a {
  color: #ccc;
  transition: color 0.3s ease;
}
footer a:hover {
  color: #fff;
}
.logo {
  max-width: 120px;
  width: 100px;
  height: auto;
  margin-bottom: 1rem;
  filter: brightness(1.2);
}
.boxes_footer {
  flex: 1 1 250px;
  min-width: 200px;
  flex-wrap: wrap;
}
.politica_terminos,
.redes_footer {
  list-style: none;
  padding: 0;
  margin: 0;
}
.politica_terminos {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem; /* espacio entre enlaces */
}
.politica_term_cont a {
  text-decoration: none;
  color: #ccc;
  transition: color 0.3s ease;
}
.politica_term_cont a:hover {
  color: #fff;
}
.iconos_redes{
  display: flex;
  justify-content: flex-end;
}
.redes {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.redes:hover {
  transform: scale(1.2);
  filter: brightness(1.4);
}
.img_whatsapp:hover {
  transform: scale(1.2);
  filter: brightness(1.4);
}
/* Estilo del botón hamburguesa */
.navbar-toggler {
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  margin-left: auto;
}
.navbar-toggler-icon {
  width: 30px;
  height: 3px;
  background-color: goldenrod;
  display: block;
  position: relative;
}
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: goldenrod;
  left: 0;
}
.navbar-toggler-icon::before {
  top: -8px;
}
.navbar-toggler-icon::after {
  top: 8px;
}

@media (max-width: 576px) {
  header {
    margin-top: 0;
  }
  main {
    padding-top: 160px;
  }
  nav a {
    display: block;
    margin: 0.5rem 0;
  }
  ul {
    margin: 0;
    padding: 0;

  }
  li {
    margin: 0 15px;
  }
  .presentacion {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-end;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .titulo_presentacion,
  .texto_presentacion {
    width: 100%;
    height: auto;
    text-transform: uppercase;
    text-align: center;
    margin-left: 1rem;
  }
  .titulo_ {
    display: flex;
    flex-direction: column;
  }
  .logo {
    margin-top: 2rem;
    padding-top: 15px;
  }
  
  .card {
    width: 90% !important;
    margin: 0 auto 2rem auto;
  }
  .card_pases{
    margin-top: 2rem;
  }
  .container_box_principal_equipamiento {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.1rem 1rem;
  }
  .box_principal_equipamiento {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .membresias,
  .clasica_flex,
  .titulos_membresias {
    margin: 0 0 1rem 0;
    width: 100%;
    overflow: hidden;
    display: block;
    text-align: center;
  }
  .clasica_flex p {
    margin: 1rem 1rem;
  }
  .box_contacto {
    margin-top: 0;
  }
  .contacto {
    margin: 0 0 3rem 0;
    display: flex;
    flex-direction: column;
  }
  iframe {
    width: 100%;
    height: 50%;
  }
  .formulario {
    width: 90%;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1.5rem 1rem;
  }

  .redes {
    width: 40px;
    height: 40px;
  }
  .iconos_redes{
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  #navbarMenu {
    background-color: rgba(0, 0, 0, 0.95);
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
  }

  #navbarMenu a {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
  }

  #navbarMenu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: rgba(13, 13, 13, 0.95);
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
    z-index: 9998;
  }

  #navbarMenu a {
    font-size: 1rem;
    color: goldenrod;
    padding: 0.5rem 1rem;
  }

  #navbarMenu a:hover {
    color: white;
  }
}
