$primary-color: black;
$secondary-color: gold;
$tertiary-color: rgba(13, 13, 13, 0.6);
$hover-color: white;
$font-family-montserrat: 'Montserrat', sans-serif;
$card-border: 4px solid $secondary-color;
$card-box-shadow: 5px 5px 5px $secondary-color;
$button-transition: background-color 0.3s ease, color 0.3s ease;

body, .boton_membresia, .boton-inscripcion, .formulario button{
background-color: $primary-color;
}

.boton_membresia:hover, .boton-inscripcion:hover,   .text_piso_equipamiento, button, .formulario button:hover, .precio_pases, .card-title, .card-text, .titulo-de-tarjeta, .formulario label{
color: $primary-color;
}

.formulario input, .formulario textarea {
    border: 1px solid $primary-color;
}

.boton_membresia:hover, .boton-inscripcion:hover, .text_piso_equipamiento button, .formulario button:hover, .separador, .menu-line, .navbar-toggler-icon, .navbar-toggler-icon::before, .navbar-toggler-icon::after {
    background-color: $secondary-color;
}

p, .titulos_membresias, .title_membresiasypases, h1, .boton_membresia, .formulario button, .contacto,  footer a, .politica_term_cont a {
    color: $secondary-color;
}

a {
    text-decoration: none;
    color: $secondary-color;
}

.card-footer, footer, header {
    background-color: $tertiary-color;
}

footer a:hover, .filtro_footer, .text_piso_equipamiento, a:hover {
    color: $hover-color;
}

.card-body, .formulario {
    background-color: $hover-color;
}

body {
    font-family: $font-family-montserrat;
}

.card, .boton_membresia {
    border: $card-border;
}

footer {
    border-top: $card-border;
}

.card, .box_principal_equipamiento, .formulario{
    box-shadow: $card-box-shadow;
}