.boton_membresia {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .boton-inscripcion {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 15px;
    width: 150px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
.boton-inscripcion:hover {
    transition: 0.3s;
  }
  .text_piso_equipamiento, button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

.formulario button {
    width: 100%;
    padding: 14px;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
   /* Botón hamburguesa */
.navbar-toggler {
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  margin-left: auto;
}

.navbar-toggler-icon {
  width: 30px;
  height: 3px;
  display: block;
  position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  position: absolute;
  width: 30px;
  height: 3px;
  left: 0;
}

.navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler-icon::after {
  top: 8px;
}