* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
}

ul {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 4%;
  height: 100%;
}

li {
  display: flex;
  padding: 10px;
}

main {
  padding-top: 0;
  position: relative;
  z-index: 1;
}

// Membresías
.membresias {
  padding-top: 0;
  margin-top: 20rem;
  position: relative;
  z-index: 1;
}

.clasica_flex {
  display: flex;
  align-items: flex-start;
  margin: 10rem;
}

.titulos_membresias {
  font-size: 3rem;
  margin-right: 15rem;
  text-align: center;
}

.title_membresiasypases {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

h1 {
  font-size: 3rem;
  text-align: center;
}
.presentacion {
  display: flex;
}

.titulo_presentacion {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 5rem 0 0 10rem;
}

.texto_presentacion {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  padding: 5rem;
  margin-left: 2rem;
}

.contenido-colapsable {
  overflow: hidden;
  transition: max-height 0.5s ease;
  max-height: 13em;
  width: 100%;
}

.contenido-colapsable.expandido {
  max-height: 1000px;
}

.boton-mas {
  margin-top: 1em;
  background: transparent;
  padding: 0.4em 1em;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  align-self: center;
}